@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

html { overflow-y: scroll; }

input[type='radio'] { vertical-align: text-bottom; }

label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}
/* your styling goes here */
/* common styling goes here */
* { box-sizing: border-box; }
html { overflow-y: auto; }
body { background-color: #2f3640; }
.wrapper {
  box-sizing: border-box;
  max-width: 1350px;
  width: 95%;
  margin: 0 auto;
  font-family: Verdana, Geneva, sans-serif;
}

ul { list-style-type: none; }
img { width: 100%; }

a {
  display: inline-block;
  transition: .4s ease-in-out;
  text-decoration: none;
}
/* common styling goes here */
.redirect-cont {
  width: 90%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
}

.record,
.listen {
  width: 45%;
  padding: 20px 0;
  border-radius: 2px;
  color: #000;
  font-size: 18px;
  text-align: center;
  letter-spacing: .5px;
  line-height: 1.4;
}

.record { background-color: #16a085; }
.listen { background-color: #c23616; }
.record:hover { background-color: #4cd137; }
.listen:hover { background-color: #e84118; }

.fas {
  padding-right: 6px;
  display: inline-block;
  font-size: 26px;
}

/* listen page styling */
.text-to-speech,
.speech-to-text {
  width: 90%;
  padding: 10px;
  /* border: 1px solid #999; */
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
} 

header h1 {
  max-width: 15%;
  margin: 20px auto;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

header h1:hover {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

textarea {
  width: 100%;
  height: 300px;
  padding: 5px;
  font-size: 16px;
  outline: none;
  border: none;
  resize: none;
  color: #999;
  transition: all .1s linear;
}

textarea:focus { box-shadow: 0 0 6px #000; }

.speakbtn,
.btn-record {
  position: absolute;
  bottom: -9%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result {
  height: 300px;
  border: 1px solid #999;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  letter-spacing: 1.4px;
  line-height: 1.5;
  padding: 5px;
  color: #888;
}

button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: .3s ease-in-out;
  outline: none;
}

button:hover { background-color: #000; }

.fa-microphone {
  font-size: 24px;
  border-radius: 50%; 
  text-align: center;
}

footer .wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.backbtn {
  position: absolute;
  right: 0;
  bottom: 1%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 15%;
  border-radius: 2px;
  padding: 15px 0;
  color: #000;
  background-color: #2e86de;
}

.backbtn:hover { background-color: #54a0ff; }

.fa-angle-right {
  color: #000;
  padding-left: 5px;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
}



/* listen page styling */
